html {
  font-family: Cubano;
  background-color: gray;
}

.image_container {
  width: 800px;
  padding-top: 40px;
}
.congress {
  float:left;
  width: 40%;
  height: 200px;
  margin: 0;
}

.or {
  margin: 0;
  width: 15%;
  float: left;
}

.personage img {
  float:right;
  width:40%;
  height:200px;
  margin: 0;
}


div.navbar navbar navbar-inverse navbar-static-top{
  padding-top: 0;
}

img {
  width: 400px
  height: 150px;
}

.body{ 
  padding-top: 0;
}
.title {
  font-family: Cubano;
}
.container {
  margin: 20px auto;
  width: 1000px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  font-family: Cubano;
  border-margin: 20%;
}
th {
  text-align: left;
}

@font-face {
font-family: Cubano;
src: url('/webfonts/cubano-regular-webfont.ttf'),
     url('/webfonts/cubano-regular-webfont.eot'); /* IE9 */
}

.img {
  border-radius: 20%;
}

footer { 
  padding-top: 300px;
}
