html {
  font-family: Cubano;
}

body {
  padding-top: 0px;
  padding-bottom: 30px;

}

.image_container {
  width: 900px;
  padding-top: 40px;
}

.navbar {
  width: 100%;
  height: 40px;
  background-color: black;
  padding-top:0px;
  margin-top:0px;
}

.navbar-brand {
  color:white;
  padding-left: 10px;
  text-decoration: none;
  font-size: 30px;

}

.navbar-brand:hover {
  color:red;
}

.image_container ul li{
  display: inline;
  list-style-type: none;
}


#congress img {
  float: left;
  width: 350px;
  height: 250px;
  position: relative;
  border-radius: 20%;
  margin-bottom: 15px;
}

#personage img {
  float: right;
  width: 350px;
  height:250px;
  margin: 0;
  border-radius: 20%;
  margin-bottom: 15px;
  /*position: relative;*/
}

#personage {
  width: 400px;
  height: 400px;
  display: inline-block;
}

#congress {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  display: inline-block;
}

form {
  width: 50px;
}

#button {
  width: 90px;
  /*float: left;*/
  /*display: block;*/
}

/*input #shuffle_button {
  padding-top: 150px;
  margin-top: 150px;
  position: fixed;
  bottom: 0;
  width: 800px;
  text-align: center;
}*/

div.navbar navbar navbar-inverse navbar-static-top {
  padding-top: 0;
}


.body{
  padding-top: 0;
}

.flag img {
  border-radius: 0%;
  margin: 0px auto;
  width: 800px;
}

.title {
  font-family: Cubano;
}
.container {
  margin: 20px auto;
  width: 1000px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  font-family: Cubano;
}

th {
  text-align: left;
}

@font-face {
font-family: Cubano;
src: url('/webfonts/cubano-regular-webfont.ttf'),
     url('/webfonts/cubano-regular-webfont.eot'); /* IE9 */
}


footer {
  padding-top: 0px;
  font-size: 10px ;
  margin: 0 auto;
  float: right;
}

footer a {
  margin: 0 auto;

  text-decoration: none;
  color: black;
}

footer a:hover {
  color: red;
}
