<div class="container">
  <center>
  <h2>Forget Reid, Boehner...who is better than Congress?</h2>
  <p> </p>

<img src="/images/congress.jpg" style="width:400px"> OR <img src="/images/honey.jpg" style="width:500px">
</center>

</div>
