
  <title>Better Than Congress?</title>
    <div class="navbar">
      <a class="navbar-brand" href="http://www.nytimes.com/2013/10/06/us/a-federal-budget-crisis-months-in-the-planning.html?_r=0" target="_blank"> > Better-than-Congress</a>
    </div>

    <!--http://www.npr.org/blogs/thetwo-way/2013/10/09/231015154/americans-prefer-hemorrhoids-and-cockroaches-to-congress-->


    <div class="poll">
        <center>
        <h2>Forget Reid, Boehner, & Bachmann...who is better than Congress?</h2>
        <p> (Click one) </p>
        
        <div class="image_container">
          <div id="congress">

            <img src="/images/congress/Congress.jpg">
          </div>

          <div id="personage" >
            <img data-photo="<%= @random_photo.id %>" src=<%= @random_photo_url %>>       
          </div>
        </div>
    </div>   
    
<center>
    <div class="button">
      <input type="submit" value="let's play again!" id="shuffle-button">

    </div>

</center>
      

            
<!--             <div class="photo_array" type="hidden">
                <img src="/images/people/bieber.jpg">
                <img src="/images/people/britney.jpg">
                <img src="/images/people/chloe.jpg"> 
                <img src="/images/people/cruise.jpg">
                <img src="/images/people/drspock.jpg">
                <img src="/images/people/elton.jpg">
                <img src="/images/people/flavor-flav.jpg">
                <img src="/images/people/Grumpy-Cat.jpg">
                <img src="/images/people/hipsters.jpg">
                <img src="/images/people/hitler.jpg">
          
            </div> -->





      <!-- FOOTER -->
      <center><footer>
        
        <p>&copy; 2013 Fire Congress, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="/flag">Terms</a>
        </p>
      </footer></center>

  </body>
</html>
