<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Better Than Congress?</title>
</head>
<h1> <center> Better Than Congress?</center> </h1>
<div><p>“If "con" is the opposite of pro, then isn't Congress the opposite of progress? Or did we just fucking blow your mind?!?”
― Jon Stewart, America (The Book): A Citizen's Guide to Democracy Inaction<p></div>
<body>
  <%= yield %>
</body>
</html>
